                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
@{
    ViewBag.Title = "KullaniciAnasayfa";
    Layout = "~/Views/Shared/KullaniciLayoutPage.cshtml";
}


<h4 style=" color: #07ea43">SİTEDEKİ SINAVLAR AKADEMİSYENLER TARAFINDAN OLUŞTURULMAKTADIR.</h4>

