
@{
    ViewBag.Title = "KullaniciSinavKural";
    Layout = "~/Views/Shared/KullaniciLayoutPage.cshtml";
}

<style type="text/css">
    h5 {
        color: #07ea43;
    }
</style>


<h5>SİTEDEKİ SINAVLAR AKADEMİSYENLER TARAFINDAN OLUŞTURULMAKTADIR.</h5>

<hr />
<h5>SINAVLAR GENEL OLARAK BELLİ KATEGORİLERE BAĞLI OLARAK OLUŞTURULUYOR.</h5>

<hr />
<h5>KULLANICILAR İSTEDİKLERİ BİR SINAVA GİRİP, DEĞERLENDİRİCİNİN SINAVI DEĞERLENDİRMESİ İLE SINAV İSTATİSTİKLERİNE ULAŞABİLİR</h5>

<hr />
<h5>SINAVLARDA EN FAZLA DOĞRU VE EN AZ YANLIŞA SAHİP OLAN KİŞİ BAŞARILI SAYILACAKTIR</h5>

<hr />
<h5>SINAVLAR DEĞERLENDİRİCİ TARAFINDAN DEĞERLENDİRİLDİKTEN SONRA KULLANICILAR SINAV İSTATİKLERİNE ULAŞABİLECEKLER</h5>
