
@{
    ViewBag.Title = "Hakkimizda";
}

<style type="text/css">

    h3 {
        color: #07ea43;
        font-size: 20px;
    }
    a {
        color: #082d70;
    }

</style>

<div class="">
    <a href="/Home/Anasayfa" class="text-info" style="font-size:20px;">ONLİNE SINAV PORTALI ANASAYFA</a><br /><br />
</div>

<h2>HAKKIMIZDA SAYFASI</h2>

<div class="text-center">

    <hr />

    <h3>BU SİTE KULLANICILARIN BELİRLİ SINAVLARDA BİLGİ, BECERİ, VE PRATİK YETENEĞİNİ ÖLÇMEK İÇİN OLUŞTURULMUŞTUR.</h3>

    <hr />

    <h3>SİZDE BİLGİ, BECERİNİZİ ÖLÇMEK, SINAVLARDA PRATİK YAPMAK İSTİYORSANIZ DAHA NE DURUYORSUNUZ!</h3>
    
    <hr />

    <h3>HEMEN @Html.ActionLink("KAYIT OLUN","KayitSayfasi") VE BİRDEN FAZLA SINAVDA KENDİNİZİ TEST EDİN</h3>

</div>

