
@{
    ViewBag.Title = "SinavHesapYonerge";
}

<style>
    h5 {
        color: #07ea43;
    }
</style>

@Html.ActionLink("DEĞERLENDİRİCİ ANASAYFA","DegerlendiriciAnasayfa",null,new { @class = "text-info", @style = "font-size:20px;" })

<h2>SINAV HESAPLAMA YÖNERGESİ</h2>

<hr />

<div class="text-center">

    <h5>SİTEDEKİ SINAVLAR AKADEMİSYENLER TARAFINDAN OLUŞTURULMAKTADIR.</h5>

    <hr />
    <h5>SINAVLAR GENEL OLARAK BELLİ KATEGORİLERE BAĞLI OLARAK OLUŞTURULUYOR.</h5>

    <hr />
    <h5>KULLANICILAR İSTEDİKLERİ BİR SINAVA GİRİP, DEĞERLENDİRİCİNİN SINAVI DEĞERLENDİRMESİ İLE SINAV İSTATİSTİKLERİNE ULAŞABİLİR</h5>

    <hr />
    <h5>SINAVLARDA EN FAZLA DOĞRU VE EN AZ YANLIŞA SAHİP OLAN KİŞİ BAŞARILI SAYILACAKTIR</h5>

    <hr />
    <h5>SINAVLARDA EN FAZLA DOĞRU VE EN AZ YANLIŞA SAHİP OLAN KİŞİ BAŞARILI SAYILACAKTIR</h5>

    <hr />
    <h5>SINAVLAR DEĞERLENDİRİCİ TARAFINDAN DEĞERLENDİRİLDİKTEN SONRA KULLANICILAR SINAV İSTATİKLERİNE ULAŞABİLECEKLER</h5>

</div>